<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>

<form action="/auth/signup" method="post">
    <label>Логин:</label>
    <input type="text" name="login" required><br>

    <label>Пароль:</label>
    <input type="password" name="password" required><br>

    <button type="submit">Создать аккаунт</button>
</form>

<p th:if="${error}" th:text="${error}"></p>
<p>Уже есть аккаунт? <a href="/auth/login">Войти</a></p>
</body>
</html>
